
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>memberIndex</title>
</head>
<body>
    <div> 
        <h1>組員:劉郁心陳怡君李偲瑋 林佑宗</h1>
        <table border="1">
            <thead></thead>
            <tbody>
                <tr>
                    <td>dan</td>
                    <td>chen</td>
                    <td>max</td>

                </tr>
                <tr>
                    <td>06</td>
                    <td>22</td>
                    <td>44</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</body>
</html>
